<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-Vind@!!!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema Expecialista desenvolvido por Danilo Almeida - Gustavo Borges - Gildomar Ferreira - Igor Freitas - Fernando Augusto
    </mat-card-subtitle>
    <mat-card-content class="card-content">
        <h1>Passo 1</h1>
        <p>Cadastre um sistema, (caso já tiver cadastrado vá para o passo 2</p>
        <br><hr><br>
        <h1>Passo 2</h1>
        <p>Cadastre um variavel junto com uma pergunta (a variavel é o problema que você deseja descobrir e a pergunta vai ser realizada para o usuario)</p>
        <br><hr><br>
        <h1>Passo 3</h1>
        <p>responda todas as perguntas e clique em resposta</p>
        <br><hr><br>
        <h1>Passo 4</h1>
        <p>Clique em sair e comece tudo novamente rssss</p>
    </mat-card-content>
</mat-card>
